.json-filter {
    background-color: lightgray;
    width: 390px;
    float: right;
    margin-top: 10px;
    padding-top: 5px;
    overflow-y: auto;
    padding-bottom: 10px;
    border: 1px solid black;
}

.json-filter-header {
    color: black;
    text-align: center;
}

.json-filter-label-container {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin: 0 auto;
    width: 85%;
}

.json-filter-label {
    margin-bottom: 5px;
    display: inherit;
    position: relative;
    padding-left: 22px;
}

/**/

.json-filter-label-text {
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    width: 100%;
    margin-left: 13px;
    padding-left: 5px;
}

.json-filter-info-label {
    background-color: blue;
    color: white;
    width: 15%;
    height: 25px;
    border-radius: 15px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: .5px;
    font-size: 12px;
    white-space: nowrap;
    padding-left: 3%;
    padding-right: 3%;
    float: left;
    margin-right: 3px;
}

.inner-input {
    border-style: none !important;
    border: 0 !important;
    line-height: 0 !important;
    width: 100%;
    font-size: 12px;
    height: 25px !important;
    background-color: blue;
    color: white;
    min-height: 0 !important;
    min-width: 0 !important;
}

.outer-input {
    padding: 5px;
    border: 0 !important;
    font-size: 12px;
    font-weight: 500;
    color: black;
    white-space: nowrap;
    /*width: 55% !important;*/
    min-width: 0 !important;
    border-style: none !important;
    float: left;
}

    .outer-input:focus {
        outline: none !important;
        outline-width: 0 !important;
    }

.info-label-container {

}
/**/
::placeholder {
    color: darkgray;
}

.button-container {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-top: 10px;
}

    .button-container button {
        width: 50%;
    }

.json-filter-label-checkbox {
    margin-left: 10px !important;
}
