<div class="modal fade info-modal in" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static" data-animation="fade">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">
            <div class="modal-header text-LightCamo">
                <span class="fa pull-right closeModalHeader text-LightCamo">X</span> <!--fa-times-circle-->
                <div class="headerTitle text-LightCamo"></div>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <div class="FooterButtons"></div>
                <span class="fa pull-right closeModalFooter">X</span> <!--fa-times-circle-->
                <div class="spacer"></div><!-- .spacer -->
                <div class="footer-content"></div>
            </div>
        </div>

    </div>
</div>
<div class="modal-backdrop hidden in"></div>
