<style>
    #glyphs ol, ul {
        list-style: none;
    }

    #glyphs .glyph svg.icon {
        width: 90px;
        height: 90px;
        margin-bottom: 12px;
    }


    #glyphs {
        border-bottom: 1px solid #ccc;
        padding: 2em 0;
        text-align: center;
    }

    #glyphs .glyph {
        display: inline-block;
        width: 9em;
        margin: 12px;
        text-align: center;
        vertical-align: top;
        background: #FFF;
    }

        #glyphs .glyph .glyph-icon {
            padding: 10px;
            display: block;
            font-family: "Flaticon";
            font-size: 64px;
            line-height: 1;
        }

            #glyphs .glyph .glyph-icon:before {
                font-size: 64px;
                color: #1D262D;
                margin-left: 0;
            }

    .class-name {
        font-size: 0.75em;
        background-color: #E3E9ED;
        color: #fff;
        border-radius: 4px;
        padding: 0.5em;
        color: #869FB2;
        font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    }

    .author-name {
        font-size: 0.6em;
        background-color: #fcfcfd;
        border: 1px solid #DEDEE4;
        border-top: 0;
        border-radius: 0 0 4px 4px;
        padding: 0.5em;
    }

    .attribution .title {
        margin-top: 2em;
    }

    .attribution textarea {
        background-color: #fcfcfd;
        padding: 12px;
        border: none;
        box-shadow: none;
        border: 1px solid #DEDEE4;
        border-radius: 4px;
        resize: none;
        width: 100%;
        height: 150px;
        font-size: 0.8em;
        font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
        -webkit-appearance: none;
    }

    .iconsuse {
        margin: 2em auto;
        text-align: center;
        max-width: 1200px;
    }

        .iconsuse:after {
            content: '';
            display: table;
            clear: both;
        }

        .iconsuse .image {
            float: left;
            width: 25%;
            padding: 0 12px;
        }

            .iconsuse .image p {
                margin-bottom: 12px;
            }

            .iconsuse .image span {
                display: block;
                font-size: 0.65em;
                background-color: #1D262D;
                color: #fff;
                border-radius: 4px;
                padding: 0.5em;
                color: #FFFF99;
                margin-top: 12px;
                font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
            }


    #glyphs .glyph .icon .flaticon
    {
        margin-left: auto;
        margin-right: auto;
    }

    #glyphs .glyph .icon, #glyphs .glyph .icon [class^="flaticon-"]:before, #glyphs .glyph .icon [class*=" flaticon-"]:before, #glyphs .glyph .icon [class^="flaticon-"]:after, #glyphs .glyph .icon [class*=" flaticon-"]:after 
    {
        font-size: 75px;
    }
</style>

<section id="glyphs">
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-furniture-and-household"></span>
        </span>
        <div class="class-name">#furniture-and-household</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-bathroom"></span>
        </span>
        <div class="class-name">#bathroom</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-bathtub"></span>
        </span>
        <div class="class-name">#bathtub</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-tap"></span>
        </span>
        <div class="class-name">#tap</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-water"></span>
        </span>
        <div class="class-name">#water</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-idea"></span>
        </span>
        <div class="class-name">#idea</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-idea-1"></span>
        </span>
        <div class="class-name">#idea-1</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-energy"></span>
        </span>
        <div class="class-name">#energy</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-refrigerator"></span>
        </span>
        <div class="class-name">#refrigerator</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-washing-machine"></span>
        </span>
        <div class="class-name">#washing-machine</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-sofa"></span>
        </span>
        <div class="class-name">#sofa</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-bed"></span>
        </span>
        <div class="class-name">#bed</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-parking"></span>
        </span>
        <div class="class-name">#parking</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-lawn"></span>
        </span>
        <div class="class-name">#lawn</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-ac"></span>
        </span>
        <div class="class-name">#ac</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-stairs"></span>
        </span>
        <div class="class-name">#stairs</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-pool"></span>
        </span>
        <div class="class-name">#pool</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-ruler"></span>
        </span>
        <div class="class-name">#ruler</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-home"></span>
        </span>
        <div class="class-name">#home</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-loupe"></span>
        </span>
        <div class="class-name">#loupe</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-house"></span>
        </span>
        <div class="class-name">#house</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-user"></span>
        </span>
        <div class="class-name">#user</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-report"></span>
        </span>
        <div class="class-name">#report</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-checklist-checked-box"></span>
        </span>
        <div class="class-name">#checklist-checked-box</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-checklist"></span>
        </span>
        <div class="class-name">#checklist</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-check"></span>
        </span>
        <div class="class-name">#check</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-forbidden-mark"></span>
        </span>
        <div class="class-name">#forbidden-mark</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-print"></span>
        </span>
        <div class="class-name">#print</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-import"></span>
        </span>
        <div class="class-name">#import</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-floppy-disk"></span>
        </span>
        <div class="class-name">#floppy-disk</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-open-folder-with-document"></span>
        </span>
        <div class="class-name">#open-folder-with-document</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-photo"></span>
        </span>
        <div class="class-name">#photo</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-photo-camera"></span>
        </span>
        <div class="class-name">#photo-camera</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-pillar"></span>
        </span>
        <div class="class-name">#pillar</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-window"></span>
        </span>
        <div class="class-name">#window</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-key"></span>
        </span>
        <div class="class-name">#key</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-door"></span>
        </span>
        <div class="class-name">#door</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-upload"></span>
        </span>
        <div class="class-name">#upload</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-pin"></span>
        </span>
        <div class="class-name">#pin</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-paperclip"></span>
        </span>
        <div class="class-name">#paperclip</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-placeholder"></span>
        </span>
        <div class="class-name">#placeholder</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-up"></span>
        </span>
        <div class="class-name">#up</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-up-arrow"></span>
        </span>
        <div class="class-name">#up-arrow</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-plumbing"></span>
        </span>
        <div class="class-name">#plumbing</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-flash"></span>
        </span>
        <div class="class-name">#flash</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-path"></span>
        </span>
        <div class="class-name">#path</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-add"></span>
        </span>
        <div class="class-name">#add</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-next"></span>
        </span>
        <div class="class-name">#next</div>
    </div>
    <div class="glyph">
        <span class="icon">
            <span class="flaticon flaticon-funnel"></span>
        </span>
        <div class="class-name">#funnel</div>
    </div>
</section>