/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container 
{
  padding: 60px 15px 0;
}

/*
.app 
{
	padding-bottom: 2.5em;
}
.footer 
{
	position: fixed;
	bottom: 0;
	width: 100vw;
	max-width: 100vw;
	height: 3.3em;
	padding: .5em;
}
.footer .container .glyphicon 
{
	font-size: 2.3em;
}
.footer a
{
	margin-right: 1em;
}
*/