@font-face
{
    font-family: 'weathericons';
    src: url('../fonts/weathericons-regular-webfont.eot');
    src: url('../fonts/weathericons-regular-webfont.eot') format('embedded-opentype'),
    url('../fonts/weathericons-regular-webfont.woff2') format('woff2'),
    url('../fonts/weathericons-regular-webfont.woff') format('woff'),
    url('../fonts/weathericons-regular-webfont.ttf') format('truetype'),
    url('../fonts/weathericons-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.weathericons
{
    font-family: 'weathericons';
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1.4em;
    text-align: center;
}